.navbar-toggler:focus {
	outline: none;
}
#inicioSobreMi img {
	width: 50%;
	max-width: 350px;
}
.endSection {
	border-bottom: 2px solid #74baff;
	width: 25%;
	margin: 2em auto;
}
footer {
	height: 50px;
	background-color: #f8f9fa;
}
